<div class="page-signin"  ng-controller="LoginCtrl as login">

  <div class="signin-header">
    <section class="logo">
      <a href="#/">
        <md-button class="md-icon-button md-icon-button--small" aria-label="More">
          <md-icon
              md-font-icon="fa-key"
              class="fa fa-2x md-theme-default">
            </md-icon>
        </md-button>
      </a> 
    </section>
  </div>

  <div class="signin-form md-whiteframe-z1">

    <md-toolbar class="md-accent md-theme-default">
      <div class="md-toolbar-tools">
        <h3>Primeiro Acesso - Cadastre sua senha</h3>
        <span class="flex"></span>
        <button class="md-icon-button md-button" >
          <md-icon
              style="color: #fff"
              md-font-icon="fa-key"
              class="fa fa-2x md-theme-default">
            </md-icon>
        </button>
      </div>
    </md-toolbar>
    <md-content>
      <div class="md-content__body extra-padding">

        <form class="form-horizontal" ng-submit="">
          <h3><strong style="text-align: center;color: rgb(57,73,171)">{{User.nome_filiado}}</strong></h3><br /><br />
          <div layout layout-sm="column">
            <div flex="30" flex-sm="100">
              
              <img src="images/user-128.png" title="{{User.nome_filiado}} ainda não possui foto" ng-if="!User.foto_filiado" class="md-avatar" />
              <div class="avatar-container" title="Foto de {{User.nome_filiado}}" ng-if="User.foto_filiado" >
                <img src="{{User.foto_filiado}}" class="md-avatar" />
              </div>
            </div>

            <div flex="70" flex-sm="100">
            <div layout="column">
              <form name="cadastraSenha">
                <md-input-container>
                  <label>Cadastre uma senha</label>
                  <input type="password"
                         class="form-control"
                         required
                         name="novaSenha"
                         data-ng-model="user.novaSenha">
                </md-input-container>
                <md-input-container>
                    <label>Confirme sua senha</label>
                    <input type="password"
                     class="form-control"
                     required
                     name="confSenha"
                     data-ng-model="user.confSenha"
                     match="user.novaSenha"
                      >
                     <div ng-messages="user.confSenha.$error">
                    <div ng-message="match">As senhas não conferem </div>
                  </div>        
                </md-input-container>
              </form>
              <p style="font-size: 12px">Se você não é {{User.nome_filiado}}, <a href="#" md-colors="{color: 'red-500'}" style="cursor: pointer;" ng-click="login.getLogado()">clique aqui</a></p>
                
              </div>
            </div> 
          </div>
          <div class="form-group" >
            <md-button class="btn-width-large btn-block btn-lg md-primary md-raised" ng-disabled="!(user.novaSenha && user.confSenha && !user.confSenha.$error)">Entrar</md-button>
          </div>
        </form>
      </div>
    </md-content>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>

</div>