<div class="page-signin">
    <div class="signin-header">
      <section class="logo">
        <a href="#/">
          <md-button class="md-icon-button md-icon-button--small" aria-label="More">
            <md-icon
              md-colors="{color: 'light-blue-500'}"
              md-font-icon="fa-unlock-alt"
              class="fa fa-3x">
            </md-icon>
          </md-button>
        </a>
      </section>
    </div>

    <div ng-controller="LoginCtrl as login" class="signin-form md-whiteframe-z1">

      <md-toolbar class="md-accent md-theme-default">
        <div class="md-toolbar-tools">
          <h3>Entre com seus dados<span ng-if="login.showPass">, {{login.filiadoNome}}</h3>
          
          <span class="flex"></span>
          <button class="md-icon-button md-button " aria-label="View Source">
            <md-icon
              md-colors="{color: 'grey-A100'}"
              md-font-icon="fa-unlock-alt"
              class="fa fa-2x">
            </md-icon>
          </button>
        </div>
      </md-toolbar>
      <md-content>
        <form ng-submit="login.logar(credentials, login.getUser)">
          <div class="md-content__body extra-padding">
            <div layout="column" class="loginBox layout-column">
                
                <md-input-container class="">
                  <label for="input_0">Matrícula</label>
                  <input type="text" ng-model="credentials.matricula" tabindex="0" id="matricula_login" required /><div class="md-errors-spacer"></div>
                   <div ng-messages="credentials.matricula.$error">
                    <div ng-message="required">O preenchimento da matrícula é obrigatório!</div>
                  </div>
                </md-input-container>
                <!--<md-input-container  ng-controller="SelectCtrl">
                    <label>Entidade Empregadora</label>
                    <md-select ng-change="login.ifExists(credentials)" ng-model="credentials.entidade" required>
                      <md-option><em>Selecione seu Empregador</em></md-option>
                      <md-option ng-repeat="entidade in entidades" ng-value="entidade.opt">
                        {{entidade.val}}
                      </md-option>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                   <div ng-messages="credentials.entidade.$error">
                    <div ng-message="required">O preenchimento da entidade empregadora é obrigatório! </div>
                  </div>  
                </md-input-container>-->
                <div ng-controller="AutoCompCtrl as ctrl">
                 <md-autocomplete flex
            md-selected-item="ctrl.selectedItem"
            md-search-text="ctrl.searchText"
            md-items="ent in ctrl.querySearch('getIdFiliado', ctrl.searchText)"
            md-item-text="ent.nome_filiado"
            md-floating-label="Entidade Empregadora">
          <md-item-template>

            <span md-highlight-text="ent.nome_filiado">{{ent.matricula_filiado}} | {{ent.nome_filiado}}</span>  
          </md-item-template>
          
          
        </md-autocomplete>
                </div>
                <md-input-container ng-if="login.showPass">
                  <label for="input_0">Senha</label>
                  <input type="password" ng-model="credentials.senha" id="senha_login" ><div class="md-errors-spacer"></div>
                </md-input-container>
                <div layout="row"  ng-if="login.showPass" layout-align="center center" style="padding-top:20px;" class="layout-align-center-center layout-row">
                  <button class="md-raised md-primary md-button md-ink-ripple" type="sumbit" >
                  Entrar
                  </button>                  
                </div>
              
            </div>
          </div>
        </form>
      </md-content>
    </div>
</div>