@media(min-width: 768px) {

	.navigation--small .side-nav, .navigation--small md-sidenav.md-locked-open, .navigation--small md-sidenav.md-locked-open.md-closed, .navigation--small md-sidenav.md-locked-open.md-closed.md-sidenav-left, .navigation--small .nav-header .side-navigation--userpic {
		width: 250px !important;
	}
}
@media(max-width: 767px) {
	.navigation--small .side-nav, .navigation--small md-sidenav.md-locked-open, .navigation--small md-sidenav.md-locked-open.md-closed, .navigation--small md-sidenav.md-locked-open.md-closed.md-sidenav-left, .navigation--small .nav-header .side-navigation--userpic {
			overflow: auto !important;
		}	
}

.loading-screen {
	z-index: 10000;
	position: fixed;
	display: table;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	.loading-container {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		height: 200px;
		width: 300px;
	}
}

.md-padding, .page-padding {
	background: #fff;
}

.ng-camera-feed {
	margin: 0 auto;
}

.avatar-container {
	display: block;
	width: 100%;
	height: 128px;
	overflow: hidden;
	margin-right: 15px;

	img {
		position: absolute;
		width:128px;
	}
}