<div ng-controller="NavCtrl">
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
		      <label>CEP</label>
		        <input type="text"
		           class="form-control"
		           data-ng-model="associado.cep">
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="form-group">
		      <label>Rua</label>
		        <input type="text"
		           class="form-control"
		           data-ng-model="associado.rua">
		    </div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
		      <label>Número</label>
		        <input type="text"
		           class="form-control"
		           data-ng-model="associado.numero">
		    </div>
		</div>
	</div>		
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
		      <label>Complemento</label>
		        <input type="text"
		           class="form-control"
		           data-ng-model="associado.rua">
		    </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
		      <label>Bairro</label>
		        <input type="text"
		           class="form-control"
		           data-ng-model="associado.numero">
		    </div>
		</div>
	</div>		
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
		      <label>Cidade</label>
		        <input type="text"
		           class="form-control"
		           data-ng-model="associado.rua">
		    </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
		      <label>UF</label>
		        <input type="text"
		           class="form-control"
		           data-ng-model="associado.numero">
		    </div>
		</div>
	</div>		
</div>
