<div class="page-padding" data-ng-controller="jqvmapCtrl">
  <div class="md-whiteframe-z1">

    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h3>
          World map
        </h3>
      </div>
    </md-toolbar>

    <md-content>
      <div style="width: 100%; height: 300px;" class="ui-map" ui-jqvmap options="worldMap"></div>
    </md-content>

  </div>

  <div class="divider"></div>

  <div class="md-whiteframe-z1">
    <section class="md-content-section">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h3>
            USA Map
          </h3>
        </div>
      </md-toolbar>

      <md-content>
        <div style="width: 100%; height: 300px;" class="ui-map" ui-jqvmap options="USAMap"></div>
      </md-content>

    </section>
  </div>

  <div class="divider"></div>

  <div class="md-whiteframe-z1">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h3>
          Europe Map
        </h3>
      </div>
    </md-toolbar>

    <md-content>
      <div style="width: 100%; height: 300px;" class="ui-map" ui-jqvmap options="europeMap"></div>
    </md-content>
  </div>

</div>