<section class="page-padding" ng-controller="">

  <div class="row">

    <div class="col-md-12">

      <div class="md-whiteframe-z1">
        <!-- Range sliders -->
        <section class="md-content-section">
          <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
              <h3>Nome da Página</h3>
            </div>
          </md-toolbar>

          <md-content>
            <div class="md-content__body">
              <div ng-controller="SliderCtrl">
                <md-content class="md-padding" ui-view="pageBody">
          
                </md-content>
              </div>
            </div>
          </md-content>

        </section>
        <!-- end Range sliders -->
      </div>
    </div>
  </div>
</section>