<section class="page-padding row" data-ng-controller="chartjsCtrl">

  <div class="col-md-6">

    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h3>
            Line Chart js
          </h3>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
          <chart class="chartjs" data-data="chartjsLine" data-type="Line" value="myChart"></chart>
        </div>
      </md-content>
    </div>

    <div class="divider"></div>

    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h3>
            Radar Chart js
          </h3>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
          <chart class="chartjs" data-data="chartjsRadar" data-type="Radar" value="myChart"></chart>
        </div>
      </md-content>
    </div>

    <div class="divider"></div>

    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
         <h3>
           Pie Chart js
         </h3>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
          <chart class="chartjs" data-data="chartjsPie" data-type="Pie" value="myChart"></chart>
        </div>
      </md-content>
    </div>

    <div class="divider"></div>

  </div>

  <div class="col-md-6">
    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h3>
            Bar Chart js
          </h3>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
          <chart class="chartjs" data-data="chartjsBar" data-type="Bar" value="myChart"></chart>
        </div>
      </md-content>
    </div>

    <div class="divider"></div>

    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h3>
            Polar Chart js
          </h3>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
          <chart class="chartjs" data-data="chartjsPolarArea" data-type="PolarArea" value="myChart"></chart>
        </div>
      </md-content>
    </div>

    <div class="divider"></div>

    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
         <h3>
           Doughnut Chart js
         </h3>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
          <chart class="chartjs" data-data="chartjsDoughnut" data-type="Doughnut" value="myChart"></chart>
        </div>
      </md-content>
    </div>

    <div class="divider"></div>

  </div>

</section>