
<div class="page page-contact">
    <div class="contactmap-container">
        <map class="ui-map" zoom="14" center="[40.74, -74.18]" scrollwheel="false">
            <marker position="[20.74, -04.18]" title="marker" animation="Animation.DROP"></marker>
        </map>
    </div>

    <div class="contact-info-container clearfix">
        <ul class="contact-info">
            <li><i class="fa fa-map-marker"></i><span>Ganzengasse nr 145 / 1725</span></li>
            <li><i class="fa fa-phone"></i><span>1190-456</span></li>
            <li><i class="fa fa-envelope-o"></i><span><a href="mailto:example@mail.com">example@mail.com</a></span></li>
        </ul>
    </div>
    

    <div class="social-item-container">
        <div class="row">
            <div class="boxes social-boxes">
                <div class="boxes__item bg-facebook">
                    <a href="#"><i class="fa fa-facebook fa-1x">

                    </i></a>
                </div>
                <div class="boxes__item bg-twitter">
                    <a href="#"><i class="fa fa-twitter fa-1x">

                    </i></a>
                </div>
                <div class="boxes__item bg-google-plus">
                    <a href="#"><i class="fa fa-google-plus fa-1x">

                    </i></a>
                </div>
                <div class="boxes__item bg-tumblr">
                    <a href="#"><i class="fa fa-tumblr fa-1x">

                    </i></a>
                </div>
                <div class="boxes__item bg-pinterest">
                    <a href="#"><i class="fa fa-pinterest fa-1x">

                    </i></a>
                </div>
                <div class="boxes__item bg-soundcloud">
                    <a href="#"><i class="fa fa-soundcloud fa-1x">

                    </i></a>
                </div>
            </div>
        </div>
    </div>

</div>
