<div class="page-signin">
    <div class="signin-header">
      <section class="logo">
        <a href="#/">
          <md-button class="md-icon-button md-icon-button--small" aria-label="More">
            <md-icon class="md-primary" md-svg-src="dist/img/icons/ic_lock_outline_24px.svg"></md-icon>
          </md-button>
        </a>
      </section>
    </div>

    <div class="signin-form md-whiteframe-z1">

      <md-toolbar class="md-accent md-theme-default">
        <div class="md-toolbar-tools">
          <h3>Entre com seus dados</h3>
          <span class="flex"></span>
          <button class="md-icon-button md-button " aria-label="View Source">
            <md-icon md-svg-icon="dist/img/icons/ic_lock_outline_24px.svg"></md-icon>
          </button>
        </div>
      </md-toolbar>
      <md-content>
        <div class="md-content__body extra-padding">
          <div layout="column" class="loginBox layout-column">
              <md-input-container class="">
                <label for="input_0">Usuário</label>
                <input type="text" ng-model="user.username" class="ng-pristine ng-untouched ng-valid md-input ng-valid-email" tabindex="0" id="input_0" ><div class="md-errors-spacer"></div>
              </md-input-container>
              <md-input-container class="">
                <label for="input_1">Senha</label>
                <input type="password" ng-model="user.senha" class="ng-pristine ng-untouched ng-valid md-input" tabindex="0" id="input_1"><div class="md-errors-spacer"></div>
              </md-input-container>
              <div layout="row" layout-align="center center" style="padding-top:20px;" class="layout-align-center-center layout-row">
                <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="navigationController.logar(user)">
                Login
                </button>
                
              </div>
            
          </div>
        </div>
      </md-content>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>

</div>