<section class="page-padding row">

  <div class="col-md-8" data-ng-controller="flotChartCtrl">
    <div class="md-whiteframe-z1">
      <div class="md-content__body">
        <div data-ng-controller="flotChartCtrl">

          <h3>
            Página Inicial
          </h3>
          <p>
            Petrópolis, {{main.isNowTime | lowercase}}
          </p>

          <div class="choices">

          </div>

          <div class="choice-switches">

            <div layout="row" layout-wrap>

              <div flex>
                <md-switch ng-model="new_visitors" ng-change="switchClick(0)" name="0" class="md-primary" aria-label="New visitors">
                  New visitors
                </md-switch>
              </div>

              <div flex>
                <md-switch ng-model="returning_visitors" ng-change="switchClick(1)" name="1" class="md-accent" aria-label="Returning visitors">
                  Returning visitors
                </md-switch>
              </div>

            </div>
          </div>

          <div data-flot-chart
               data-data="line1.data"
               data-options="line1.options"
               style="width: 100% ; height: 300px;"
                  ></div>
        </div>

        

      </div>
    </div>

    <div class="divider"></div>

    <div class="md-whiteframe-z1">
      <div layout-gt-md="row">
        <md-toolbar flex="100" flex-gt-md="50" class="md-toolbar-content md-accent">
          <h3>
            <span>Popular data</span>
          </h3>
          <p class="text--small">
            Important notices you might want to know
          </p>
          <br/>
          <div data-ng-controller="chartingCtrl">
            <div data-ng-controller="sparklineCtrl">
                      <span data-sparkline
                            data-spark-data="simpleChartNoFill.sparkData"
                            data-spark-options="simpleChartNoFill.sparkOptions"
                              ></span>
            </div>
          </div>
          <br/>
          <div class="box-updates">
            <div class="box-updates__item--no-border" layout="row">
              <div flex="70">
                <p>
                  #Trendingstory
                </p>
              </div>
              <div flex="30" class="text-right">
                <p>
                 
                </p>
              </div>
            </div>
            <div class="box-updates__item--no-border" layout="row">
              <div flex="70">
                <p>
                  #downtotheriver
                </p>
              </div>
              <div flex="30" class="text-right">
                <p>
                  
                </p>
              </div>
            </div>
          </div>
        </md-toolbar>
        <md-toolbar flex="100" flex-gt-md="50" class="md-toolbar-content md-primary">
          <h3>
            <span>Latest social trends</span>
          </h3>
          <p class="text--small">
            Important social media updates
          </p>
          <br/>
          <div class="box-updates">
            <div class="box-updates__item" layout="row">
              <div flex="70">
                <p>
                  #Trendingstory
                </p>
              </div>
              <div flex="30" class="text-right">
                <p>
                  
                </p>
              </div>
            </div>
            <div class="box-updates__item" layout="row">
              <div flex="70">
                <p>
                  #Movieoftheweek
                </p>
              </div>
              <div flex="30" class="text-right">
                <p>
                  <md-icon class="color--white" md-svg-src="dist/img/icons/ic_mic_off_24px.svg"></md-icon>
                </p>
              </div>
            </div>
            <div class="box-updates__item" layout="row">
              <div flex="70">
                <p>
                  #awesomepeopleweknow
                </p>
              </div>
              <div flex="30" class="text-right">
                <p>
                  <md-icon class="color--white" md-svg-src="dist/img/icons/ic_games_24px.svg"></md-icon>
                </p>
              </div>
            </div>
          </div>
        </md-toolbar>
      </div>
    </div>

    <div class="divider"></div>

  </div>

  <div class="col-md-4">
   
    <div class="md-whiteframe-z1">
      <div class="md-content__body">
        <h4>
          Log do sistema
        </h4>
        <p>
          Últimas ações de usuários
        </p>

        <div class="timeline-body">
          <div class="timeline m-border">
            <div class="timeline-item">
              <div class="item--content">
                <div class="text--muted">Just now</div>
                <p>Finished task #features 4.</p>
              </div>
            </div>
            <div class="timeline-item border-info">
              <div class="item--content">
                <div class="text--muted">11:30</div>
                <p>@Jessi retwit your post</p>
              </div>
            </div>
            <div class="timeline-item border-warning border-l">
              <div class="item--content">
                <div class="text--muted">10:30</div>
                <p>Call to customer #Jacob and discuss the detail.</p>
              </div>
            </div>
            <div class="timeline-item border-warning">
              <div class="item--content">
                <div class="text--muted">3 days ago</div>
                <p>Jessi commented your post.</p>
              </div>
            </div>
            <div class="timeline-item border-danger">
              <div class="item--content">
                <div class="text--muted">Thu, 10 Mar</div>
                <p>Trip to the moon</p>
              </div>
            </div>
            <div class="timeline-item border-info">
              <div class="item--content">
                <div class="text--muted">Sat, 5 Mar</div>
                <p>Prepare for presentation</p>
              </div>
            </div>
            <div class="timeline-item border-danger">
              <div class="item--content">
                <div class="text--muted">Sun, 11 Feb</div>
                <p>Jessi assign you a task #Mockup Design.</p>
              </div>
            </div>
            <div class="timeline-item border-info">
              <div class="item--content">
                <div class="text--muted">Thu, 17 Jan</div>
                <p>Follow up to close deal</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="divider"></div>

    <div class="md-whiteframe-z1">
      <div layout="row">
        <md-toolbar class="md-toolbar-content md-primary">
          <h3>
            <span>Liberações de crédito recentes</span>
          </h3>
          <div>
            <ul class="list-inline">
              <li>
                <img src="dist/images/team1.jpg" class="img30_30 img-rounded">
              </li>
              <li>
                <img src="dist/images/team2.jpg" class="img30_30 img-rounded">
              </li>
              <li>
                <img src="dist/images/team3.jpg" class="img30_30 img-rounded">
              </li>
              <li>
                <img src="dist/images/team4.jpg" class="img30_30 img-rounded">
              </li>
              <li>
                <img src="dist/images/team5.jpg" class="img30_30 img-rounded">
              </li>
            </ul>
          </div>
        </md-toolbar>
      </div>
    </div>
  </div>

  
</section>

<br/>