<section class="page-padding">

  <div>
    <h2>
      Material button styles
    </h2>
  </div>

  <div class="md-whiteframe-z1">
    <div class="md-content__body">

      <h3>Raised buttons</h3>
      <div>
        <div>
          <p>
            Buttons are included with the <code>.md-button</code> directive. You can make all sorts og buttons from links to raised and not
            raised buttons. All including the styling of material design.
          </p>
          <p>
            Disabled sytling can be done using <code>ng-disabled="true"</code> attribute.
          </p>
        </div>

        <div>
          <md-button aria-label="Button" class="btn-width-medium md-raised ">Button</md-button>
          <md-button aria-label="Button" class="btn-width-medium md-raised md-primary">Primary</md-button>
          <md-button aria-label="Button" class="btn-width-medium md-raised md-accent">Accent</md-button>
          <md-button aria-label="Button" class="btn-width-medium md-raised md-success">Success</md-button>
          <md-button aria-label="Button" class="btn-width-medium md-raised md-info">Info</md-button>
          <md-button aria-label="Button" class="btn-width-medium md-raised md-warning">Warning</md-button>
          <md-button aria-label="Button" class="btn-width-medium md-raised md-danger">Danger</md-button>
        </div>

        <br/>

        <div>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised ">Button</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-primary">Primary</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-accent">Accent</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-success">Success</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-info">Info</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-warning">Warning</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-raised md-danger">Danger</md-button>
        </div>
      </div>

      <div>

      </div>

    </div>
  </div>

  <div class="divider"></div>

  <div class="md-whiteframe-z1">
    <div class="md-content__body">

      <h3>Button links</h3>
      <div>
        <div>
          <p>
            Buttons are included with the <code>.md-button</code> directive. You can make all sorts og buttons from links to raised and not
            raised buttons. All including the styling of material design.
          </p>
          <p>
            Disabled sytling can be done using <code>ng-disabled="true"</code> attribute.
          </p>
        </div>

        <div>
          <md-button aria-label="Button" class="btn-width-medium">Button</md-button>
          <md-button aria-label="Button" class="btn-width-medium md-primary">Primary</md-button>
          <md-button aria-label="Button" class="btn-width-medium md-accent">Accent</md-button>
          <md-button aria-label="Button" class="btn-width-medium  md-success">Success</md-button>
          <md-button aria-label="Button" class="btn-width-medium  md-info">Info</md-button>
          <md-button aria-label="Button" class="btn-width-medium  md-warning">Warning</md-button>
          <md-button aria-label="Button" class="btn-width-medium  md-danger">Danger</md-button>
        </div>

        <br/>

        <div>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium">Button</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-primary">Primary</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium md-accent">Accent</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium  md-success">Success</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium  md-info">Info</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium  md-warning">Warning</md-button>
          <md-button aria-label="Button" ng-disabled="true" class="btn-width-medium  md-danger">Danger</md-button>
        </div>
      </div>

      <div>

      </div>

    </div>
  </div>

  <div class="divider"></div>

  <div class="md-whiteframe-z1">
    <div class="md-content__body">

      <h3>Fabs</h3>
      <div>
        <div>
          <p>
            Fabs are an amazing and very functional style of buttons. They can be used pretty much anywhere to give quick actions to the user.
          </p>
          <p>
            Fabs can be inserted using <code>class="md-fab"</code> and inserting an SVG icon inside (available inside the theme with the material design collection of SVG Images).
          </p>
          <p>
            All previous variations are available for fabs as well.
          </p>
        </div>

        <div>
          <md-button class="md-fab" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-primary" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-accent" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-success" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-info" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-warning" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button class="md-fab md-danger" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
        </div>

        <div>
          <md-button ng-disabled="true" class="md-fab" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button ng-disabled="true" class="md-fab md-primary" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button ng-disabled="true" class="md-fab md-accent" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button ng-disabled="true" class="md-fab md-success" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button ng-disabled="true" class="md-fab md-info" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button ng-disabled="true" class="md-fab md-warning" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
          <md-button ng-disabled="true" class="md-fab md-danger" aria-label="Eat cake">
            <md-icon md-svg-src="dist/img/icons/ic_cake_24px.svg"></md-icon>
          </md-button>
        </div>
      </div>

    </div>
  </div>

  <div class="divider"></div>

  <div class="md-whiteframe-z1">
    <div class="md-content__body" ng-controller="SpeedFabCtrl">

      <h3>Speed dial fabs</h3>
      <div class="row">
        <div class="col-md-6">
          <p>
            Fabs are an amazing and very functional style of buttons. They can be used pretty much anywhere to give quick actions to the user.
          </p>
          <p>
            Fabs can be inserted using <code>class="md-fab"</code> and inserting an SVG icon inside (available inside the theme with the material design collection of SVG Images).
          </p>
          <p>
            All previous variations are available for fabs as well.
          </p>
          <p>
            You may supply a direction of <code>left</code>, <code>up</code>, <code>down</code>, or
            <code>right</code> through the <code>md-direction</code> attribute.
          </p>

          <div>
            <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
                               ng-class="demo.selectedMode">
              <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                  <md-icon md-svg-src="dist/img/icons/ic_menu_24px.svg"></md-icon>
                </md-button>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button aria-label="Airplane" class="md-fab md-raised md-mini md-primary">
                  <md-icon md-svg-src="dist/img/icons/ic_airplanemode_off_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="Bluetooth" class="md-fab md-raised md-mini md-danger">
                  <md-icon md-svg-src="dist/img/icons/ic_bluetooth_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="Google Inbox" class="md-fab md-raised md-mini md-warning">
                  <md-icon md-svg-src="dist/img/icons/ic_inbox_24px.svg"></md-icon>
                </md-button>
              </md-fab-actions>
            </md-fab-speed-dial>
          </div>

        </div>

        <br/>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <b>Direction</b>
              <br/><br/>
              <md-radio-group ng-model="demo.selectedDirection">
                <md-radio-button ng-repeat="direction in demo.availableDirections"
                                 ng-value="direction" class="text-capitalize">
                  {{direction}}
                </md-radio-button>
              </md-radio-group>
            </div>
            <div class="col-md-4">
              <b>Open/Closed</b>
              <br/><br/>
              <md-radio-group ng-model="demo.isOpen">
                <md-radio-button ng-value="true">Open</md-radio-button>
                <md-radio-button ng-value="false">Closed</md-radio-button>
              </md-radio-group>
            </div>
            <div class="col-md-4">
              <b>Animation Modes</b>
              <br/><br/>
              <md-radio-group ng-model="demo.selectedMode">
                <md-radio-button ng-repeat="mode in demo.availableModes" ng-value="mode">
                  {{mode}}
                </md-radio-button>
              </md-radio-group>
            </div>
          </div>
          <p class="note">
            Note that you can also hover over the directive's area or tab through each button to open and
            activate the speed dial menu.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="divider"></div>

  <div class="md-whiteframe-z1">
    <div class="md-content__body">

      <h3>Button sizes</h3>
      <div>
        <div>
          <div>
            <p>
              Buttons can have different heights by including different classes in the button.
            </p>
            <p>
              These classes are <code>btn-sm</code>, <code>btn-xs</code>, <code>btn-lg</code> or no class for the default height.
            </p>
            <p>
              You can combine this with the previous classes to increase also in width
            </p>
          </div>
        </div>

        <div>
          <h4>Extra small</h4>
          <md-button aria-label="Button" class="btn-width-xs md-raised ">Button</md-button>
          <md-button aria-label="Button" class="btn-width-xs md-raised md-primary">Primary</md-button>
          <md-button aria-label="Button" class="btn-width-xs md-raised md-accent">Accent</md-button>
          <md-button aria-label="Button" class="btn-width-xs md-raised md-success">Success</md-button>
          <md-button aria-label="Button" class="btn-width-xs md-raised md-info">Info</md-button>
          <md-button aria-label="Button" class="btn-width-xs md-raised md-warning">Warning</md-button>
          <md-button aria-label="Button" class="btn-width-xs md-raised md-danger">Danger</md-button>
        </div>

        <div class="divider"></div>

        <div>
          <h4>Small</h4>
          <md-button aria-label="Button" class="btn-width-small md-raised ">Button</md-button>
          <md-button aria-label="Button" class="btn-width-small md-raised md-primary">Primary</md-button>
          <md-button aria-label="Button" class="btn-width-small md-raised md-accent">Accent</md-button>
          <md-button aria-label="Button" class="btn-width-small md-raised md-success">Success</md-button>
          <md-button aria-label="Button" class="btn-width-small md-raised md-info">Info</md-button>
          <md-button aria-label="Button" class="btn-width-small md-raised md-warning">Warning</md-button>
          <md-button aria-label="Button" class="btn-width-small md-raised md-danger">Danger</md-button>
        </div>

        <div class="divider"></div>

        <div>
          <h4>Normal</h4>
          <md-button aria-label="Button" class="md-raised ">Button</md-button>
          <md-button aria-label="Button" class="md-raised md-primary">Primary</md-button>
          <md-button aria-label="Button" class="md-raised md-accent">Accent</md-button>
          <md-button aria-label="Button" class="md-raised md-success">Success</md-button>
          <md-button aria-label="Button" class="md-raised md-info">Info</md-button>
          <md-button aria-label="Button" class="md-raised md-warning">Warning</md-button>
          <md-button aria-label="Button" class="md-raised md-danger">Danger</md-button>
        </div>

        <div class="divider"></div>

        <div>
          <h4>Large</h4>
          <md-button aria-label="Button" class="btn-width-long md-raised ">Button</md-button>
          <md-button aria-label="Button" class="btn-width-long md-raised md-primary">Primary</md-button>
          <md-button aria-label="Button" class="btn-width-long md-raised md-accent">Accent</md-button>
          <md-button aria-label="Button" class="btn-width-long md-raised md-success">Success</md-button>
          <md-button aria-label="Button" class="btn-width-long md-raised md-info">Info</md-button>
          <md-button aria-label="Button" class="btn-width-long md-raised md-warning">Warning</md-button>
          <md-button aria-label="Button" class="btn-width-long md-raised md-danger">Danger</md-button>
        </div>
      </div>

    </div>
  </div>

</section>