<section class="page-widgets page-padding">

  <div class="row" data-ng-controller="sparklineCtrl">

    <div class="col-md-3">

      <div class="md-whiteframe-z1">
        <div class="md-content__body">
          <div class="small-box-icon no-padding">
                <span class="box-icon bg-success">
                    <span data-sparkline
                          data-spark-data="simpleChart2info.sparkData"
                          data-spark-options="simpleChart2info.sparkOptions"
                            ></span>
                </span>

            <div class="box-info">
              <p class="h4">25</p>

              <p class="text-muted">Arriving messages</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-3">
      <div class="md-whiteframe-z1">
        <div class="md-content__body">
          <div class="small-box-icon no-padding">
                <span class="box-icon bg-info">
                    <span data-sparkline
                          data-spark-data="simpleChart2info.sparkData"
                          data-spark-options="simpleChart2info.sparkOptions"
                            ></span>
                </span>

            <div class="box-info">
              <p class="h4">312</p>

              <p class="text-muted">Connected users</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="md-whiteframe-z1">
        <div class="md-content__body">
          <div class="small-box-icon no-padding">
                <span class="box-icon bg-warning">
                    <span data-sparkline
                          data-spark-data="simpleChart2info.sparkData"
                          data-spark-options="simpleChart2info.sparkOptions"
                            ></span>
                </span>

            <div class="box-info">
              <p class="h4">1,450</p>

              <p class="text-muted">Driving income</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="md-whiteframe-z1">
        <div class="md-content__body">
          <div class="small-box-icon no-padding">
                <span class="box-icon bg-danger">
                   <span data-sparkline
                         data-spark-data="simpleChart2info.sparkData"
                         data-spark-options="simpleChart2info.sparkOptions"
                           ></span>
                </span>

            <div class="box-info">
              <p class="h4">562</p>

              <p class="text-muted">New customers / segment</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="divider"></div>

  <div class="row">

    <div class="col-md-6">
      <md-card class="card-weather">
        <div class="md-card-header">
          <img src="dist/images/background/bg_weather1.png" alt="Washed Out">

          <div class="weather-icon">
            <i class="wi weather-icon wi-day-cloudy"></i>
          </div>
        </div>
        <md-card-content>
          <div flex="100" class="md-card-weather__list">
            <ul class="text-center">
              <li>
                <p class="size-h2 color-info"><i class="wi weather-icon wi-cloudy"></i></p>

                <p class="text-muted">Tuesday</p>
              </li>
              <li>
                <p class="size-h2 color-warning"><i class="wi weather-icon wi-day-thunderstorm"></i></p>

                <p class="text-muted">Wednesday</p>
              </li>
              <li>
                <p class="size-h2 color-danger"><i class="wi weather-icon wi-day-snow"></i></p>

                <p class="text-muted">Thursday</p>
              </li>
              <li>
                <p class="size-h2 color-success"><i class="wi weather-icon wi-day-sunny"></i></p>

                <p class="text-muted">Friday</p>
              </li>
            </ul>
          </div>
          <div flex>
            <md-button aria-label="Button" class="md-primary md-raised theme-default btn-block">
              <md-icon class="md-accent" md-svg-src="dist/img/icons/ic_wb_sunny_24px.svg"></md-icon>
              Load more items
            </md-button>
          </div>
        </md-card-content>
      </md-card>

      <div class="divider"></div>

      <div class="md-whiteframe-z1">
        <md-toolbar class="md-accent md-theme-default md-whiteframe-z1">
          <div class="md-toolbar-tools">
            <h3>Group List</h3>
            <span class="flex"></span>
            <button class="md-icon-button md-button " aria-label="View Source">
              <md-icon md-svg-icon="dist/img/icons/ic_list_24px.svg"></md-icon>
            </button>
          </div>
        </md-toolbar>
        <md-content>
          <div flex="100" class="box-list">

            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">7</span>
                The industry's standard
              </li>
              <li class="list-group-item">
                <span class="badge badge-info">3</span>
                software like Aldus PageMaker
              </li>
              <li class="list-group-item">
                <span class="badge badge-warning">4</span>
                Various versions have evolved
              </li>
              <li class="list-group-item">
                <span class="badge badge-danger">3</span>
                There are many variations of passages
              </li>
              <li class="list-group-item">
                <span class="badge badge-success">10</span>
                Richard McClintock, a Latin professor
              </li>
            </ul>
          </div>
        </md-content>
      </div>
    </div>

    <div class="col-md-6">
      <md-card class="md-user-card">
        <div class="md-card-header">
          <img src="dist/images/background/social1.png" alt="Washed Out">

          <h3 class="card-user-name">
            Tifany Smith
          </h3>
        </div>
        <md-card-content>
          <div ng-controller="HomeFabCtrl" layout="column">
            <div class="lock-size user-speed-dial" layout="row" layout-align="center center">
              <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
                                 ng-class="demo.selectedMode">
                <md-fab-trigger>
                  <md-button aria-label="menu" class="md-fab md-accent">
                    <md-icon md-svg-src="dist/img/icons/ic_menu_24px.svg"></md-icon>
                  </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                  <md-button aria-label="Airplane" class="md-fab md-raised md-mini md-primary">
                    <md-icon md-svg-src="dist/img/icons/ic_airplanemode_off_24px.svg"></md-icon>
                  </md-button>
                  <md-button aria-label="Bluetooth" class="md-fab md-raised md-mini md-warn">
                    <md-icon md-svg-src="dist/img/icons/ic_bluetooth_24px.svg"></md-icon>
                  </md-button>
                  <md-button aria-label="Google Inbox" class="md-fab md-raised md-mini md-primary">
                    <md-icon md-svg-src="dist/img/icons/ic_inbox_24px.svg"></md-icon>
                  </md-button>
                </md-fab-actions>
              </md-fab-speed-dial>
            </div>
          </div>
          <div flex="100" class="md-card-buttons__list">
            <ul class="text-center">
              <li>
                <md-icon class="md-primary" md-svg-src="dist/img/icons/ic_inbox_24px.svg"></md-icon>
                <p class="text-muted">My Inbox</p>
              </li>
              <li>
                <md-icon class="md-warning" md-svg-src="dist/img/icons/ic_add_alarm_24px.svg"></md-icon>
                <p class="text-muted">Alarms</p>
              </li>
              <li>
                <md-icon class="md-danger" md-svg-src="dist/img/icons/ic_battery_charging_20_24px.svg"></md-icon>
                <p class="text-muted">Battery</p>
              </li>
              <li>
                <md-icon class="md-info" md-svg-src="dist/img/icons/ic_data_usage_24px.svg"></md-icon>
                <p class="text-muted">My quota</p>
              </li>
            </ul>
          </div>
          <div flex>
            <md-button aria-label="Button" class="md-accent md-raised theme-default">
              <md-icon class="md-accent" md-svg-src="dist/img/icons/ic_inbox_24px.svg"></md-icon>
              Send a message
            </md-button>
          </div>
        </md-card-content>
      </md-card>

      <div class="divider"></div>

      <div class="md-whiteframe-z1">
        <div class="boxes social-boxes">
          <div class="boxes__item bg-facebook">
            <i class="fa fa-facebook fa-2x">

            </i>
          </div>
          <div class="boxes__item bg-twitter">
            <i class="fa fa-twitter fa-2x">

            </i>
          </div>
          <div class="boxes__item bg-google-plus">
            <i class="fa fa-google-plus fa-2x">

            </i>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="md-whiteframe-z1">
        <md-toolbar class="md-primary md-theme-default md-whiteframe-z1">
          <div class="md-toolbar-tools">
            <h3>Box List</h3>
            <span class="flex"></span>
            <button class="md-icon-button md-button " aria-label="View Source">
              <md-icon md-svg-icon="dist/img/icons/ic_account_box_24px.svg"></md-icon>
            </button>
          </div>
        </md-toolbar>
        <md-content>
          <div class="md-content__body">
            <div flex="100" class="box-list">
              <ul class="text-center">
                <li>
                  <md-icon class="md-primary" md-svg-src="dist/img/icons/ic_ring_volume_24px.svg"></md-icon>
                  <p class="text-muted">Volume</p>
                </li>
                <li>
                  <md-icon class="md-warning" md-svg-src="dist/img/icons/ic_album_24px.svg"></md-icon>
                  <p class="text-muted">Albums</p>
                </li>
                <li>
                  <md-icon class="md-danger" md-svg-src="dist/img/icons/ic_local_pizza_24px.svg"></md-icon>
                  <p class="text-muted">Pizza</p>
                </li>
                <li>
                  <md-icon class="md-info" md-svg-src="dist/img/icons/ic_gps_off_24px.svg"></md-icon>
                  <p class="text-muted">My GPS</p>
                </li>
              </ul>
              <div flex>
                <md-button aria-label="Button" class="md-primary md-raised theme-default btn-block">
                  <md-icon class="md-accent" md-svg-src="dist/img/icons/ic_inbox_24px.svg"></md-icon>
                  Go to my inbox
                </md-button>
              </div>
            </div>
          </div>
        </md-content>
      </div>
    </div>

  </div>

  <br/>
</section>